Calendar/dist
Calendar/build
nbproject

/qjson
Calendar/libqjson.so*

*.o
*.pro.*
moc_*
*~

documentation/rapport/*.toc
documentation/rapport/*.aux
documentation/rapport/*.log
documentation/rapport/*.pdf
